/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.sidebar-section {
    border-right: 1px solid #dee2e6;
}

.roadtrip-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#roadtrips-list {
    max-height: 300px;
    overflow-y: auto;
}

.title-section {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.nav-section {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.main-left-section,
.main-right-section {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.main-right-section-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
}

.main-right-section-body {
    padding-top: 1rem;
}

.button-group i {
    cursor: pointer;
    margin-left: 10px;
}

.button-group i:hover {
    color: #007bff;
}